/*
 * styles.css
 * UI and form styles
 * benboyle.id.au
 * 2009-03-03T23:16:28+10:00
 */
 
html, body {
	background: #FFF;
	color: #000;
	font: 100%/1.7 Verdana, Arial, sans-serif;
}

body .JS {
	display: none;
}
body.JS .JS {
	display: block;
}

form.submit {
	outline: 1px solid red;
}

table {
	border-collapse: collapse;
}
th, td {
	border: 1px solid #000;
	padding: .2em .5em;
	width: 7em;
	text-align: left;
}
